/* https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Google_Assistant_logo.svg/50px-Google_Assistant_logo.svg.png */
html,
body {
  width: 100%;
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
}

@media only screen and (max-width: 600px) {
  #main {
    padding: 1rem;
  }
  .gassist {
    /* padding: 8px 14px;
  margin-right: 7px;
  margin-top: 6px;
  margin-left: 15px;
  margin-bottom: 6px;
  max-width: 50%;
  align-content: right; */
    /* float: left;  */
    /* display: inline-block; */
    height: auto;
    /* justify-content: right; */
    clear: both;
    width: auto;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: row;
  }
  .users-message {
    height: auto;
    /* justify-content: right; */
    clear: both;
    width: auto;
    color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .users-message span {
    padding: 10px 16px;
    height: auto;
    border-radius: 20px;
    margin-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 25%);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .gassist span {
    padding: 10px 16px;
    height: auto;
    border-radius: 20px;
    margin-left: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
  }
  .gassist img {
    height: 50px;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 50px;
  }
  .user {
    width: 100%;
    position: fixed;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
  }
  .userSecond {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    transition: all 0.3s ease;
  }
  .usermainSecond {
    /* bottom: 0; */
    margin: 0 auto;
    width: 185px;
    border-radius: 25px;
    height: 52px;
    border: none !important;
    box-shadow: none !important;
    transition: all 0.3s ease;
  }
  .usermain {
    margin: 0 auto;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
    width: 185px;
    border-radius: 25px;
    height: 52px;
    transition: all 0.3s ease;
  }

  .users-input {
    border: none;
    font-size: 20px;
    text-align: center;
    /* margin-bottom: 8px; */
    resize: none;
    font-family: "Google Sans", sans-serif;
    outline: none;
    width: 80%;
  }
  .key {
    width: 55px;
    margin: 0;
    position: relative;
    display: inline;
    height: 45px;
  }
  .keyboard {
    cursor: pointer;
    padding-right: 17px;
    padding-left: 20px;
    padding-bottom: 6px;
    transition: opacity 0.4s;
  }
  .voice {
    height: 45px;
    position: relative;
    display: inline;
    margin: 0;
    width: 55px;
  }
  .voicebtn {
    height: 40px;
    margin: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    position: relative;
    padding-top: 7px;
    display: inline;
    width: 40px;
  }
  .lens {
    width: 55px;
    margin: 0;
    position: relative;
    display: inline;
    height: 45px;
  }
  .glens {
    width: 25px;
    padding-right: 24px;
    padding-left: 20px;
    transition: opacity 0.4s;
    padding-bottom: 7px;
    height: 25px;
  }
  .icon {
    position: relative;
    top: 50%;
    left: 50%;
    transition: opacity 0.2s;
    text-align: center;
    cursor: pointer;
  }

  .bar {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 7px;
    top: -50px;
    height: 20px;
    border-radius: 10px;
    transition: 0.3s;
    animation: dope 1.5s ease-in-out 0s infinite;
  }

  .bar:nth-child(1) {
    animation-delay: 0s;
  }

  .bar:nth-child(2) {
    animation-delay: 0.15s;
  }
  .bar:nth-child(3) {
    animation-delay: 0.3s;
  }
  .bar:nth-child(4) {
    animation-delay: 0.45s;
  }

  .input-field {
    position: fixed;
    bottom: 70px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 999;
  }

  .hidden {
    display: none;
  }

  @keyframes dope {
    0% {
      height: 15px;
    }
    50% {
      height: 32px;
    }
    100% {
      height: 15px;
    }
  }
}
